package __package-name-needle__.cucumber;

import static io.cucumber.junit.platform.engine.Constants.*;
import org.junit.platform.suite.api.*;

@Suite
@IncludeEngines("cucumber")
// __feature-selection-needle__
@ConfigurationParameter(key = GLUE_PROPERTY_NAME, value = "__package-name-needle__.cucumber,__package-name-needle__.cucumber.stepdefs")
class TemplateCucumberIT {}
