<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span>Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Project</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (projects().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Projects found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span>Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span>Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creationTimeStamp">
              <div class="d-flex">
                <span>Creation Time Stamp</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <div style="display: none">
              <th scope="col" jhiSortBy="location">
                <div class="d-flex">
                  <span>Location</span>

                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
              <th scope="col" jhiSortBy="mdls.id">
                <div class="d-flex">
                  <span>Mdls</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
              <th scope="col" jhiSortBy="user.id">
                <div class="d-flex">
                  <span>User</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
              <th scope="col" jhiSortBy="feature.id">
                <div class="d-flex">
                  <span>Feature</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
              <th scope="col" jhiSortBy="overview.id">
                <div class="d-flex">
                  <span>Overview</span>
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                </div>
              </th>
            </div>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (project of projects(); track trackId(project)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a>
              </td>
              <td>{{ project.name }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.creationTimeStamp | formatMediumDatetime }}</td>
              <td style="display: none">{{ project.location }}</td>
              <td style="display: none">
                @if (project.mdls) {
                  <div>
                    <a [routerLink]="['/mdls', project.mdls.id, 'view']">{{ project.mdls.id }}</a>
                  </div>
                }
              </td>
              <td style="display: none">
                {{ project.user?.id }}
              </td>
              <td style="display: none">
                @for (feature of project.features; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/feature', feature.id, 'view']">{{ feature.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td style="display: none">
                @for (overview of project.overviews; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/overview', overview.id, 'view']">{{ overview.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/project', project.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    style="display: none"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
