<div>
  <h2 id="page-heading" data-cy="CodeStatsHeading">
    <span>Code Stats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-code-stats"
        [routerLink]="['/code-stats/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Code Stats</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (codeStats().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Code Stats found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="instructions">
              <div class="d-flex">
                <span>Instructions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="branches">
              <div class="d-flex">
                <span>Branches</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lines">
              <div class="d-flex">
                <span>Lines</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="methods">
              <div class="d-flex">
                <span>Methods</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="classes">
              <div class="d-flex">
                <span>Classes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deadInstructions">
              <div class="d-flex">
                <span>Dead Instructions</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deadBranches">
              <div class="d-flex">
                <span>Dead Branches</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deadLines">
              <div class="d-flex">
                <span>Dead Lines</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deadMethods">
              <div class="d-flex">
                <span>Dead Methods</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deadClasses">
              <div class="d-flex">
                <span>Dead Classes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (codeStats of codeStats(); track trackId(codeStats)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/code-stats', codeStats.id, 'view']">{{ codeStats.id }}</a>
              </td>
              <td>{{ codeStats.instructions }}</td>
              <td>{{ codeStats.branches }}</td>
              <td>{{ codeStats.lines }}</td>
              <td>{{ codeStats.methods }}</td>
              <td>{{ codeStats.classes }}</td>
              <td>{{ codeStats.deadInstructions }}</td>
              <td>{{ codeStats.deadBranches }}</td>
              <td>{{ codeStats.deadLines }}</td>
              <td>{{ codeStats.deadMethods }}</td>
              <td>{{ codeStats.deadClasses }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/code-stats', codeStats.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/code-stats', codeStats.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(codeStats)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
