<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (feature(); as featureRef) {
      <div>
        <h2 data-cy="featureDetailsHeading"><span>Feature</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ featureRef.id }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ featureRef.name }}</span>
          </dd>
          <dt><span>Content</span></dt>
          <dd>
            <pre>{{ featureRef.content }}</pre>
          </dd>
          <dt><span>User</span></dt>
          <dd>
            <span>{{ featureRef.user?.id }}</span>
          </dd>
          <dt><span>Project</span></dt>
          <dd>
            @for (project of featureRef.projects; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/project', project.id, 'view']">{{ project?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span>Feature Tst</span></dt>
          <dd>
            @for (featureTst of featureRef.featureTsts; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/feature-tst', featureTst.id, 'view']">{{ featureTst?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/feature', featureRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
